@charset 'UTF-8';

html,body {
	background-color: #cccccc;
	height: 100%;
}

.container {
	height: 100%;
}

	#read > div{
		padding: 0% 1% 0% 1%;

	}

	#itemsList {
		border-width: 1px;
		border-radius: 5px;
	}
		.item_top {
			margin: 0px 0px 20px 0px;
			padding: 0px 25px;
			border-radius: 5px;
			border: 1px solid #000000;
			box-shadow: 2px 2px 5px;
			background-color: white;
			height: auto;
		}

		.item_box {
			margin: 0px 0px 20px 0px;
			padding: 25px;
			border-radius: 5px;
			border: 1px solid #000000;
			box-shadow: 2px 2px 5px;
			background-color: white;
			height: auto;
		}
			.item_box > h3 > a {
				text-decoration: none;
				color: black;
			}

			.item_box > h3 > a:hover {
				color: #0073C3;
			}


	#feedList {
		vertical-align: top;
		padding: 0;
		margin: 0;
	}
		#feedList > div {
			white-space: nowrap;
			cursor: pointer;
			text-align: left;
			overflow: hidden;
			padding: 4px 8px;
			border-radius: 3px;
		}

		.feedList_folder{
			background-color: black;
			color: white;
			border: 1px solid #cccccc;
		}

		.feedList_folder > i {
			margin-right: 4px;
		}

		.feedList_folderList {
			display: none;
			background-color: white;
			overflow: hidden;
			border: 1px solid black;
		}
		
		.hover_on{
			cursor: default;
			/*colors changed in theme*/
			background-color: #B0A78F;
			color: #FDF4DB;
		}

		.feedList_feed {
		}

	#spinner {
		display: block;
		margin: auto;
		padding: 10px 0px 30px 0px;
	}
