@charset 'UTF-8';

html,body {
	background-color: #cccccc;
	height: 100%;
	overflow: auto;
}

.container {
	/*border: 2px dotted red;*/
}

	#read > div{
		padding: 0% 1% 0% 1%;
	}

	#itemsList {
		border: 1px dotted blue;
		max-height:400px;
		overflow: scroll;
	}
		.item_top, .item_box {
			margin: 0px 0px 5px 0px;
			border-radius: 3px;
			border: 1px solid #000000;
			background-color: white;
			/*box-shadow: 2px 2px 5px;*/
		}

		.item_top {
			padding: 0px 25px;
		}

		.item_box {
			padding: 25px;
		}

			.item_unread {
				background-color:white;
			}
			.item_read {
				background-color: #cccccc;
			}

			.item_box > h3 > a {
				text-decoration: none;
				color: black;
			}

			.item_box > h3 > a:hover {
				color: #0073C3;
			}


	#feedList {
		vertical-align: top;
		max-height:400px;
		overflow: scroll;
	}
		#feedList div {
			white-space: nowrap;
			cursor: pointer;
			text-align: left;
			overflow: hidden;
			border-color: #eee;
		}

		#feedList a {
			color: black;
		}

		#feedList a:hover {
			text-decoration: none;
			font-weight: bold;
		}

		.feedList_folder {
			border-color: black;
		}

			.feedList_folder i {
				margin-right: 5px;
			}

	#spinner {
		display: block;
		margin: auto;
		padding: 10px 0px 30px 0px;
	}
