html,body {
    height: 100%;
    overflow: hidden;
}

.container-fluid, .row-fluid {
	margin: 0px;
	padding: 0px;
}

#top_container {
	height: 100%;
}

#content_nav {
	margin: 0px;
	padding: 0px;
}

#row_body{
	height: 100%;
}

#row_nav {
	position: fixed;
	z-index: 1;
}
	#sidebar {
		height: 100%;
		overflow: auto;
		background-color: #eee;
	}

	#main_content {
		height: 100%;		
		overflow: auto;
		margin: 0px;
		padding: 0px;	
	}

	#items_list {
	}

	#itemsList {
		/*border: 1px dotted blue;*/
	}
		.item_box {
			margin: 0px 0px 5px 0px;
			border-radius: 0px;
			border: 1px solid #eee;
			background-color: #eee;
			max-width: 600px;
		}

		#item_feed_info {
			margin-bottom: 0;
		}

		.item_box {
			padding: 25px;
		}

			.item_byline{
				font-style: italic;
				font-size: 0.85em;
			}

			.item_unread {
				background-color: #eee;
				border-color: #eee;
			}
			.item_read {
				background-color: #fff;
				border-color: #888;
			}

			.item_box > h3 {
				margin-bottom: 0;
				line-height: 1.15;
			}
			.item_box > h3 > a {
				text-decoration: none;
				color: black;
			}

			.item_box > h3 > a:hover {
				color: #0073C3;
			}
		.item_status_btn {
			cursor: pointer;
		}


	#feedList {
	}
		#feedList div {
			white-space: nowrap;
			cursor: pointer;
			text-align: left;
			overflow: hidden;
			border-color: #eee;
		}

		#feedList {
			a {
				color: black;
				&:hover {
					text-decoration: none;
					font-weight: bold;
				}
			}
			
		}

		#feedList a

		.feedList_folder {
			border-color: black;
		}

			.feedList_folder i {
				margin-right: 5px;
			}

	#spinner {
		display: block;
		margin: auto;
		padding: 10px 0px 30px 0px;
	}

.navbar-inner {
	border-radius: 0px;
}

#share-buttons {
	background-color: #aaa;
	border-radius: 35px;
	padding:2px;
	display: inline-block;
}
#share-buttons img {
	width: 32px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
}

